.container{

    background: linear-gradient(black, white);
    display: grid;
    height: 800px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 50px;
    background-color: #2196F3;
    padding: 10px; 
    text-align: center;
}
.add-btn {
    width: 10%;
    margin-left: 15%;
    background-color: rgb(255, 4, 4);
    border-radius: 10px;
}

button{
    width: 20%;
    margin-left: 15%;
    background-color: rgb(219, 217, 96);
    border-radius: 10px;
}
.btn-item{
    width: 20%;
    margin-left: 15%;
    background-color: rgb(96, 213, 219);
    border-radius: 10px;
}
.btn-grd{
    width: 20%;
    margin-left: 15%;
    background-color: rgb(50, 252, 0);
    border-radius: 10px;
}
